
# Do not include folders containing large datasets #
# (These can be downloaded from: https://figshare.com/account/home#/collections/6023999#
/data/trial_traces
/data/clean_traces
data/spike_times/03_04_2014 level17_pitch_test_F&V 14_31 Block4-68_SU2_ev2
data/spike_times/03_04_2014 level17_pitch_test_F&V 14_31 Block4-68_SU3_ev
